.App {
  text-align: center;
  color: white;
}

.background-image {
  background-image: url("../images/welcome-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

@media (max-width: 576px) {
  .welcone-header {
    font-size: 24px;
    justify-content: center 
  }
  .background-image {
    background-size: 150vw;
    background-position: center top;
  }
}

@media (min-width: 769px) {
  .App {
    font-size: 24px;
    justify-content: center bottom;
  }
}

@media (min-width: 992px) {
  .App {
    font-size: 32px;
    justify-content: center;
  }
}