.breeds-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
  
.breeds-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}
  
.breed-card {
  width: 300px;
  margin: 0 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--color-neutral);
  transition: all 0.3s ease-in-out;
  z-index: 2;
  position: relative;
}

.breed-card:not(.slick-active) {
  transform: scale(0.8);
  opacity: 1;
}
  
.breed-card h3 {
  margin: 0;
  padding: 10px;
  font-size: 1.3rem;
  background-color: #f2f2f2;
  color: var(--color-dark);
}
  
.breed-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}
  
.breed-details {
  padding: 10px;
  text-align: left;
}
  
.breed-details p {
  margin: 0;
  padding: 5px;
  font-size: 0.8rem;
  line-height: 1.2;
}


.slick-current {
  transform: scale(1.2);
  z-index: 1;
}

.fave-label {
  font-size: 1rem;
}


@media (max-width: 768px) {
  .breed-card {
    width: 80%;
    margin: 0 auto;
  }
}