/* .fave-breeds-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.fave-breeds-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.fave-breeds-container h2 {
  margin-top: 0;
}
    
.fave-breed-card {
  width: 300px;
  margin: 0 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--color-neutral);
  transition: all 0.3s ease-in-out;
  z-index: 2;
  position: relative;
}

.fave-breed-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}
    
.fave-breed-details {
  padding: 10px;
  text-align: left;
}
    
.fave-breed-details p {
  margin: 0;
  padding: 5px;
  font-size: 0.8rem;
  line-height: 1.2;
} */

.fave-breeds-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.fav-breed-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-top: 20px;
}

.fav-breed-card {
  width: 320px;
  margin: 20px;;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--color-neutral);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.fav-breed-card h3 {
  margin: 0;
  padding: 10px;
  font-size: 1.3rem;
  background-color: #f2f2f2;
  color: var(--color-dark);
}

.fav-breed-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.fav-breed-details {
  padding: 10px;
  text-align: left;
  font-size: 0.7rem;
}

.fav-breed-details p {
  margin: 0;
  padding: 5px;
  font-size: 0.7rem;
  line-height: 1.2;
}
