.fave-breeds-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .fave-breeds-container h2 {
    margin-top: 0;
  }
    
  .fave-breed-card {
    width: 300px;
    margin: 0 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--color-neutral);
  }

  .fave-breed-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
    
  .fave-breed-details {
    padding: 10px;
    text-align: left;
  }
    
  .fave-breed-details p {
    margin: 0;
    padding: 5px;
    font-size: 0.8rem;
    line-height: 1.2;
  }