@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap');

:root {
  --color-primary: #dbcfb0;
  --color-secondary: #bfc8ad;
  --color-accent: #90b494;
  --color-neutral: #718f94;
  --color-dark: #545775;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-secondary);
}

code {
  font-family: 'Montserrat', sans-serif;;
}
