.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-title {
  margin: 0;
  text-align: center;
  flex: 1;
  margin-left: 7rem;
}

.navbar-button {
  margin-left: 1rem;
}
