.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.home,
.dashboard {
  background-color: var(--color-accent);
  border: none;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  margin-left: 0.2rem;
}

.navbar-button {
  background-color: var(--color-accent);
  border: none;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  margin-left: 0.2rem;
}

#logo {
  margin-right: auto;
}