.navbar {
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar-container {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1rem;
}

.navbar-button {
  margin-left: 1rem;
}
