
.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}


.btn-first:hover:not(.btn-first):not(:active) {
  background-color: var(--color-accent);
  color: #fff;
}

.btn-prev {
  background-color: var(--color-accent);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 50px;
  font-size: 16px;
}

.btn-next {
  background-color: var(--color-accent);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 50px;
  font-size: 16px;
}

.btn-submit {
  background-color: var(--color-accent);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 900;
}

.btn-question {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 2px;
  margin: 40px;
  font-size: 18px;
  font-weight: 700;
  font-family:'Montserrat', sans-serif;;
  line-height: 1.2;
  cursor: pointer;
  background-color: var(--color-accent);
  outline: none;
  color: #fff;
}

.btn-question:active,
.btn-question:focus,
.btn-question:active:focus {
  background-color: var(--color-neutral);
  color: #fff;
}

button:not(.btn-first):hover,
button:not(.btn-first):active {
  background-color: var(--color-neutral);
  color: #fff;
}



h3 {
  font-size: xxx-large;
  font-weight: 750;
  margin-top: 220px;
  text-shadow: 2px 2px 2px #00000050;
}

@media only screen and (max-width: 600px) {
  .btn-question {
      width: 80px;
      height: 80px;
  }
}